*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Cuerpo de la pagina*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/*Barra de navegacion*/
.navbar {
    justify-content: space-between;
    flex-wrap: wrap; 
    display: flex;
    align-items: center; /* Centra verticalmente */
    padding: 1rem;
    background-color: #000000;
    color: white;
    box-shadow: 7px 7px 100px rgba(255, 255, 255, 0.841);
    position: fixed; 
    width: 100%;
    z-index: 1000; /* encima de todo */

}

/*Link de barra de navegacion*/
.nav-links {
    display: flex; /* Alinea los <li> horizontalmente */
    list-style: none; /* Quita viñetas */
    gap: 1.5rem; /* Espaciado moderno entre enlaces */
    margin: 0;
    
    }

/*enlaces de barra de navegacion*/
.nav-links a {
    text-decoration: none;
    color: white;
    
}

/*Titulo de la pagina*/
.title{
  background-image: url('https://img.freepik.com/vector-gratis/vector-diseno-fondo-abstracto_677411-4226.jpg?semt=ais_hybrid&w=740&q=80');
  background-size: cover; /* Ajusta la imagen para cubrir todo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita */
  height: 45vh; /* Altura total de la ventana */
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  

  
}

h1, p{
    font-weight: 100; 
}



/*cuerpo*/
.contenedor-flex {
    display: flex; /* Activa flexbox */
    align-items: center; /* Centra verticalmente los elementos */
       flex-wrap: wrap; 
    gap: 20px; /* Espacio entre la imagen y el texto */
    padding: 20px;
}

.imagen-lado img {
    width: 100%; /* Hace la imagen responsiva */
    min-width: 300px;
    height: auto;
    border-radius: 8px; /* Opcional: bordes redondeados */
}

/* Opcional: Ajustar anchos específicos */
.imagen-lado {
    flex: 1; /* La imagen ocupa 1 parte del espacio */
}

.texto-lado {
    flex: 2; /* El texto ocupa 2 partes (más ancho) */
    min-width: 300px;
}


/*Estilo pie de pagina*/
.content {
     flex: 1; 
    } /* Contenedor de tu contenido principal */


.footer {
    background-color: #191919; 
    color: white;
    padding: 20px 10px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
    
}

.footer-links li a {
    color: white;
    text-decoration: none;
}


/* mapas */
.map-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/**/
.contenedor-principal {
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
}

/* Estilo de todas las palabras*/
.project {
    width: 100%; 
    background-image: url('https://img.freepik.com/vector-gratis/vector-diseno-fondo-abstracto_677411-4226.jpg?semt=ais_hybrid&w=740&q=80');
    color: white;
    text-align: center;
    line-height: 100px; 
    font-size: 150%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.wordnav:hover {
  background-color: #212121; 
  border-radius: 100px;
  transition: 0.4s;

  
}


.project:hover {
  background-color: #212121; 
  border-radius: 100px;
  transition: 0.4s;
  font-size: 29px;
  
}

/* CSS */
.slider {
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  place-items: center;
  grid-gap:2%;

}
.slider li {
list-style: none;

}

